@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
/*초기화*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* semantic(의미론적인, 의미가 있는) 요소 */
html {
    overflow-x: hidden;
    overflow-y: hidden;

}
header, footer, nav, aside, section, article {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    background-color: #fff;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pretendard', sans-serif;
}
ol, ul {
    list-style-type: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ea1e53;
}
img {
    border: 0;
}
table {
    width: 100%;
    border-collapse : collapse;
    border-spacing: 0;
}
td,th {
    /* border: 1px solid #ddd; */
    border-width: 1px 0;
}

/*공용클래스*/
.section {
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
} 
@media (max-width: 1024px) {
    .section{
        height: 970px !important;
    }
    
}
@media (max-width: 428px) {
    .section{
        height: 926px !important;
    }
    
}

.wrap {
    max-width: 1200px; /*1200px*/
    height: 100vh;
    /* margin-left: calc((100vw - 1200px)/2);
    margin-right: calc((100vw - 1200px)/2); */
    margin: auto;
    /* border: 1px solid salmon; */
}

/*====================*/
/* @media (max-width: 768px) {
    .wrap{
        max-width: 688px;
    }
} */

/*글자관련클래스*/
.bk, .bk a {
    color: #000 !important;
}
.wh, .wh a {
    color: #fff !important;
}
.br, .br a {
    color: #785958 !important;
}
.mg, .mg a {
    color: #ec2b46 !important;
}

/*배경색 클래스*/
.nt {
    background-color: #ebebeb;
}
.red_br {
    background-color: #4c3e3d;
}
/*스킵영역*/




