span { display: inline-block;}

.calendar-wrapper {
    padding-inline: 4px;
}

.calendar {
    background-color: #ffffff;
    border: 1px solid #303030;
    border-radius: 10px;
    position: absolute;
    left: 154px;
    top: 50px;
    width: 310px;
    height: auto;
    opacity: 0;
    visibility: none;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    transform: translateY(-10px);
}
@media (max-width: 767px) { 
    .calendar {
        width: 262px;
        left: 124px;
        top:45px;
    }
}

.calendar.opened {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 1;
}

.calendar-header {
    color: #303030;
    font-weight: var(--fw-700);
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 12.85px;
    margin-block: 12px;
    line-height: 22px;
}

@media (max-width: 767px) { 
    .calendar-header {
        font-size: 14px;
        margin : 23px 0 11px 0;
    }
    .calendar-body {
        padding-left: 4px;
    }
}

.navigation-wrapper {
    display: flex;
    gap: 10px;
}
/**/
.day {
    padding-block: 5px;
}
/**/
.date-input-wrapper,
.time-input-wrapper {
    cursor: pointer;
    position: relative;
}

.days { 
    color: #303030;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7,44px);
    font-family: var(--ff-nanumsquear);
}
@media (max-width: 767px) { 
    .days {
        grid-template-columns: repeat(7, 36px);
        font-size: 12px;
    }
    .day {
        padding-block: 6px;
    }
}


.dates {
    text-align: center;
}


.dates {
    display: grid;
    grid-template-columns: repeat(7, 44px);
    text-align: center;
    font-size: 14px;
}
@media (max-width: 767px) { 
    .dates {
        grid-template-columns: repeat(7, 36px);
        font-size: 12px;
    }
}


.lastMonth,
.nextMonth {
    cursor: pointer;
}


/* 오늘 날짜에 해당하는 div 스타일 지정*/
/* div[title] {
    content: '';
    background-color: rgb(216, 216, 216);
    
} */

.date {
    color: #000000;
    padding-block: 5px;
}
@media (max-width: 767px) { 
    .date {
       padding-block: 6px;
    }
}


/* 선택할 수 없는 날짜는 포인트 커서를 기본으로 설정 */
.unavailable {
    cursor: default;
}

/* 선택할 수 있을 경우에는 밑에 밑에 css를 적용함 */


/* seudo-class hover effect is only for background color changing ever since it has no content*/
.available:hover::after {
    background-color: #FFC904;
}

.available.picked {
    font-weight: var(--fw-700);
}

.available.picked::after {
    background-color: #FFC904;
}


.available {
    /* position : relative for putting background circle*/
    position: relative;
    cursor: pointer;
    color: inherit;
    z-index: 0;
}

.available::after {
    content: "";
    background-color: #FFE481;
    border-radius: 50%;
    position: absolute;
    left: 9px;
    top: 0px;
    width: 26px;
    height: 26px;
    z-index: -1;
}
@media (max-width: 767px) { 
    .available::after { 
        width: 23px;
        height: 23px;
        left: 7px;
        top: 0px;
    }
}

#time-table {
    border: 1px solid #303030;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 328px;
    background-color: #ffffff;
    height: 206px;
    width: 124px;
    overflow-y: scroll;
    transition: transform 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}
@media (max-width: 767px) { 
    #time-table {
        top: 45px;
        left: 262px;

    }
}



#time-table.opened {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 1;
}
.time {
    font-size: 12px;
}
.time-ico.up {
    transform: rotate(180deg)
}


#time-table div {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
}


#time-table div.selected::after{
    opacity: 1;
}


#time-table div.selected {
    background-color: #FFC904;
    color: #303030;
    font-weight: 700;
}

#time-table div:hover::after{
    opacity: 1;
}


.unclickable{
    cursor: default;
    pointer-events: none;
    color: #D4D4D4;
  }

#time_picker {
    visibility: hidden;
}

#date_picker {
    visibility: hidden;
}


/* test date */
select {
    background-color: #f0f0f0;
}

select:hover {
    background-color: #FFC904;
}


/* notice */
.notice-calendar {
    align-items: center;
    display: flex;
    margin-block: 10px;
    margin-inline-start: 12px;
    gap: 2px;
}

.notice-circle {
    background-color: #FFE481;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.notice-calendar-text {
    font-size: 14px;
}


.form-wrap3 {
    position: relative;
}

.info-popup {
    cursor: pointer;
    font-weight: var(--fw-700);
}

.notice-info-popup {
    font-family: var(--ff-nanumsquear);
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #303030;
    border-radius: 10px;
    position: absolute;
    bottom: 29px;
    transform: translateY(40px);
    transition: transform 0.1s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.notice-info-popup.show {
    pointer-events: all;
    cursor: default;
    opacity: 1;
    transform: translateY(0px);
    z-index: 1;
}

.notice-info-container {
    padding-inline: 20px;
    padding-block-start: 28px;
    padding-block-end: 8px;
}

.info-list-header,
.info-list-first {
    margin-block-end: 10px;
}


.info-list-first .info-text li:nth-child(1),
.info-list-last .info-text li:nth-child(1) {
    font-weight: 700;
}

.info-list-last {
    margin-block-end: 32px;
}

.info-text li:not(:first-child) {
    padding-left: 10px;
}

.notice-info-popup-btn {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100px;
    height: 40px;
    margin: auto;
    font-weight: 600;
    margin-top: 20px;
    background-color: #FFC904;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.notice-info-popup-btn:is(:hover,:focus){
    color: inherit;
}

.info_ch { 
    cursor: pointer;
    font-weight: var(--fw-700);
}
/*
* customizing scrollbar
*/

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%);}

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%);}


/*
* responsive for large than 768px screen
*/

@media screen and (min-width:768px) {
    .notice-info-popup {
        right: -80px;
        left: -105px;
        bottom: 24px;
    }
    
}


@media screen and (min-width:992px) {

    .notice-info-popup {
        bottom: 29px;
        right: -203px;
        left: -219px;
    }
}
